vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Dec 2010 06:08:00 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|21 Dec 2010 06:08:00 -0000
vti_filesize:IR|3845
vti_cachedlinkinfo:VX|S|../images/arr.gif S|../images/shadow.png
vti_cachedsvcrellinks:VX|FSUS|images/arr.gif NSUS|images/shadow.png
vti_lineageid:SR|{38D93907-485C-4766-8A9F-B0BA9E830714}
vti_backlinkinfo:VX|contactus.html contactusn.html services.html incoterms.html volumematrix.html indexorigional.html aboutus.html containerdetails.html Default.aspx
